 body{
    background-color: #5f2f4e;
    padding: 10px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* .jumbotron{
    float: left;
     background-color: orange;
} */
.title{
    float: left;
    background-color:#94697e;
    padding: 20px;
    margin: 20px;

} 

.instructions{
    clear: both;
    background-color: #efede0;
    padding: 10px;
    margin: 20px;

}

#randomNumber{
    background-color: #cbb97a;
    margin: 10px;
    padding: 10px;

}

/* .image-holder{
    margin: 20px;
    padding: 15px;
} */

.crystal-image{
    width: 150px;
}

.yourScore{
    background-color: #c4b3bb;
    margin: 20px;
    padding: 20px;
}

.winsLosses, .wins, .losses{
    background-color: #c4b3bb;
    margin: 10px;
    padding: 10px;
}